extends layouts/layout.pug

block content
    div.container
        div.row
            div.col-12
                div#dietSummary(style='display:none;')
                    h2 Podsumowanie diety
            div.col-12
                div.row#pickedItems.align-items-center
                    div.col-12
                        div#noPickedItems
                            div#noPickedItemsText
                                h1.h5 Brak produktów
                                p Wybierz produkty z listy poniżej lub dodaj swój własny
            div.col-12
                div.line
            div.col-12
                div.row#nutValues
                    div.col-md-3
                        div.row
                            div.col-6.nutName
                                span kcal
                            div.col-6.nutVal
                                span#totalKcal
                    div.col-md-3
                        div.row
                            div.col-6.nutName
                                span kJ
                            div.col-6.nutVal
                                span#totalkJ
                    div.col-md-3
                        div.row
                            div.col-6.nutName
                                span tłuszcz
                            div.col-6.nutVal
                                span#totalFats
                                span#totalFatsUnit
                    div.col-md-3
                        div.row
                            div.col-6.nutName
                                span węglowodany
                            div.col-6.nutVal
                                span#totalCarbohydrates
                                span#totalCarbohydratesUnit
                    div.col-md-3
                        div.row
                            div.col-6.nutName
                                span cukier
                            div.col-6.nutVal
                                span#totalSugars
                                span#totalSugarsUnit
                    div.col-md-3
                        div.row
                            div.col-6.nutName
                                span błonnik
                            div.col-6.nutVal
                                span#totalFibers
                                span#totalFibersUnit
                    div.col-md-3
                        div.row
                            div.col-6.nutName
                                span białko
                            div.col-6.nutVal
                                span#totalProteins
                                span#totalProteinsUnit
                    div.col-md-3
                        div.row
                            div.col-6.nutName
                                span sód
                            div.col-6.nutVal
                                span#totalSodium
                                span#totalSodiumUnit
                    div.col-md-3
                        div.row
                            div.col-6.nutName
                                span cholesterol
                            div.col-6.nutVal
                                span#totalCholesterol
                                span#totalCholesterolUnit
                    div.col-md-3
                        div.row
                            div.col-6.nutName
                                span koffeina
                            div.col-6.nutVal
                                span#totalCaffeine
                                span#totalCaffeineUnit
            div.col-12
                div.line
            div.col-md-4
                div.searchBox
                    span 
                        i.icon-search
                    input.search(id='searcher', type='text', placeholder='Wyszukaj...')
            div.col-12
                div.row#notPickedItems
    footer.container-fluid
        div.container
            div.row
                div.col-3
                    p osób online:  
                        span#userNumber    